# Pasta de cache
__pycache__/

# Ambientes virtuais
venv/
.venv/

# Credenciais
my_secrets.py

# Arquivos sensíveis
relatorio_consolidado_clientes.csv
meta_ads_pipeline.py
# Arquivos de log
logs/
# Arquivos temporários
*.tmp